.Roadmap{
    display: flex;
    align-items: center;
    padding: 80px 0;
    flex-direction: column;
    justify-content: center;
}
.Roadmap h1{
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 60px;
}
.Roadmap_detail{
    margin: 20px 0;
    display: flex;
}

.circle{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: pink;
    margin-right: 22px;
    margin-top: 7px;
}
.text_heading{
    color: rgb(204, 107, 204);
    font-weight: bold;
    font-size: 1.3rem;
}
.text_detail{
    font-weight: bold;
    font-size: 1.3rem;
}